body {
  text-align: center;
  background-color: lightsalmon;
}

h1, h2 {
  font-size: 40px;
  font-family: monospace;
}

div {
  padding-right: 100px;
  padding-left: 100px;
  text-align: justify;
  line-height: 2;
  font-size: 20px;
}